@media screen and (max-width:1140px) {
    .constructum__fb {
        right: 400px;
    }

    .constructum__Insider {
        left: 115px
    }

    .constructum__forbes {
        right: 140px;
    }

    .constructum__orange-icon {

        right: 332px;
    }

    .constructum__linkedin {

        left: 273px;
    }


    .constructum__yt {
        top: 231px;
        left: 334px;
    }



    .constructum__TheGuardian {
        top: 234px;
        right: 74px;
    }

    .constructum__black-t-shirt {
        top: 333px;
        left: 373px;
    }

    .constructum__volkswagen {
        top: 364px;
        right: 223px;
    }

    .constructum__cellula {
        bottom: 267px;
        right: 360px;
    }

    .constructum__white-t-shirt {
        bottom: 224px;
        left: 205px;
    }

    .constructum__women {
        bottom: 213px;
        right: 194px;
    }

    .constructum__calvitium {
        bottom: 181px;
        right: 362px;
    }

    .descrtion__cons-brand {
        top: 93px;
        left: 108px;
    }

    .descrtion__eco {
        top: 80px;
        right: 195px;
    }

    .descrtion__internet-brands {
        top: 180px;
        left: 305px;
    }

    .descrtion__mega {
        top: 262px;
        left: 53px;
    }

    .descrtion__rolex {
        top: 284px;
        right: 130px;
    }

    .descrtion__newel {

        left: 151px;
    }

    .descrtion__itw-pro {
        bottom: 173px;
        right: 328px;
    }

    .descrtion__vodafone {
        bottom: 113px;
        right: 149px;
    }



    .clients__Shakira {
        left: 366px;
    }

    .clients__Samanta {
        right: 174px;
    }

    .clients__Jane {
        left: 73px;
    }

    .clients__Joanne {
        right: 62px;
    }

    .clients__Conor {
        left: 576px;
    }

    .clients__B-Jordanjr {
        left: 335px;

    }

    .clients__Jenifer {
        left: 126px;
    }

    .clients__MaryJ {
        right: 166.9px;
    }

    .clients__Harry {
        bottom: -103px;
        left: 483px;
    }

}

@media screen and (max-width:960px){
    
}